.row {
    /* width: 10px;
    height: 10px;
    background-color: white;
    margin: 10px; */
  }
  h1,h2{
    text-align: center;
  }
  .container{
    height: auto;
    width: 280px;
    background-color: black;
    display: flex;
    /* display: inline; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
    margin: auto; 
  }
  
  .boxes{
    background-color: blue;
    height: 10px;
    width: 10px;
    /* margin: 2px; */
   
    
  }
